html{
    overflow: hidden;
}

.display_hidden{
    display: hidden;
}

.display_on{
    opacity: 0;
    animation-name: display_on;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

@keyframes display_on{
    0%{
        transform: translateX(-1000px);
    }
    40%{
        transform: translateX(100px);
    }
    100%{
        transform: translateX(-50%);
        opacity: 1;
        display: block;
    }
}

.display_off{
    animation-name: display_off;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes display_off{
    0%{
        transform: translateX(-50%);
    }
    40%{
        transform: translateX(-400px);
    }
    100%{
        transform: translateX(1000px);
        display: none;
        opacity: 0;
    }
}

.show_nav_list{
    animation-name: show_nav_list;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes show_nav_list{
    0%{
        transform: translateY(-1000px);
    }
    100%{
        transform: translateY(0px);
    }
}

.show_off_nav_list{
    animation-name: show_off_nav_list;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes show_off_nav_list{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-1000px);
    }
}


/*CSS OJO FORMULARIO*/

#togglePassword {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; 
    right: 10px; 
    top: 50%; 
    transform: translateY(-50%); 
    cursor: pointer; 
}

#togglePassword i {
    font-size: 1.2rem;
}

#password_login {
    padding-right: 2.5rem; 
    width: 100%;
    padding: 0.5rem; 
}

.relative {
    position: relative; 
    display: flex;
    align-items: center;
    background: white;
    width: 100%; 
}

